Info\ Drugs/Keys.swift
.DS_Store
*/.DS_Store
*.DS_Store
*Breakpoints_v2.xcbkptlist
*/Breakpoints_v2.xcbkptlist

#Pods
Pods/
**/Pods
*/Pods/
*/Podfile.lock
Podfile.lock

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.orig